.App-logo {
    width: 200px;
    height: auto;
}

.App {
    background: url('../resources/background-hamburger.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.stick__container{
    position: absolute;
    top: 25%;
    right: 24%;
}

.stick__login--container{
    width: 120px;
    height: 150px;
    background-color: #fdc64e;
    overflow: hidden;
    padding: 1em 1.5em;
    position: relative;
}

.stick__login--container::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    border-width: 0 45px 45px 0;
    border-style: solid;
    border-color:#000 #caca83 #000  #000;
    background:658E15;
    transform: rotate(90deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stick__login--credentials{
    color: black;
    font-size: 11px;
    padding-top: 25px;
    font-weight: bold;
}

.formLogin {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 90%;
}

.formLogin input {
    font-size: 18px;
    color: white;
    margin: 10px;
    border: solid 1px white;
    border-radius: 10px;
    background-color: black;
    padding-left: 5px;
    width: 70%;
    height: 35px;
}

.textForm{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textForm input{
    width: 95%;
}

@media all and (min-width: 768px) {
    .App-logo {
        width: 250px;
    }

    .formLogin input {
        width: 50%;
        height: 35px;
    }
}

@media all and (min-width: 1024px) {
    .App-logo {
        width: 300px;
    }

    .formLogin{
        display: flex;
        flex-direction: column;
    }

    .formLogin input {
        font-size: 18px;
        width: 50%;
        height: 45px;
    }

    .formLogin .textForm {
        font-size: 26px;
    }

}