.order {
    background: url('../resources/background-hamburger.png');
    background-size: cover;
    min-height: 100vh;
}

.iconArrow {
    padding-right: 10px;
    margin-left: 5px;
    font-size: 18px;
}

.mainlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Realizar Pedido */
.containerH1 h1 {
    color: white;
    text-align: center;
    margin-top: 5px;
}

/* contenedor del formulario */
.formOrder {
    background-color: white;
    border-radius: 25px;
    display: inline-grid;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 85%;
}

.pOrderSummary {
    margin-bottom: 5px;
    font-weight: bold;
}

.formOrder p {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.inputNameClient {
    border-style: none;
    background-color: #D9D9D9;
    border-radius: 25px;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

input:focus {
    outline: solid 1px #F8B62A;
    box-shadow: 0px 0px 10px #F8B62A;
}

.containerPCO {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 25px;
}

.containerProductOrder {
    display: grid;
    grid-template-columns: 35% 20% 25% 15%;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 100%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.btnQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    cursor: pointer;
}

.btnFewer,
.btnAdd {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.pControl {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 30px;
    width: 30px;
    background-color: #F8B62A;
    border-radius: 15px;
    border-style: none;
    text-align: center;
    margin-bottom: 5px;
}

.trashContainer {
    width: 32px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #FF0606;
    color: white;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}

.trashContainer:hover{
    background-color: #ad0303;
}

.totalPrice {
    display: flex;
    background-color: #F8B62A;
    border-radius: 25px;
    justify-content: space-around;
    padding-top: 8px;
    font-weight: bold;
}

.sectionBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media all and (min-width: 768px) {

    .iconArrow {
        font-size: 25px;
    }

    /* Realizar Pedido */
    .containerH1 h1 {
        font-size: 30px;
    }

    /* contenedor del formulario */
    .formOrder {
        width: 70%;
    }

    .containerLabels {
        justify-content: space-around;
        font-weight: bold;
    }

    .formOrder p {
        font-size: 16px;
    }

    .inputNameClient {
        height: 40px;
        width: 90%;
        font-size: 18px;
    }

    .containerPCO {
        height: 60px;
    }

    .mainlist {
        align-items: center;
    }
}

@media all and (min-width: 1024px) {

    .formOrder {
        width: 90%;
        margin-top: 65px;
    }

    .mainlist {
        flex-direction: row;
        align-items: flex-start;
    }

    .trashContainer {
        width: 36px;
        height: 38px;
        font-size: 20px;
    }

    .formAddProduct {
        width: 100%;
    }

    .containerProductOrder {
        grid-template-columns: 35% 15% 15% 10%;
    }

    .name p {
        font-size: 20px;
    }

    .totalPrice {
        height: 50px;
    }

    .totalPrice p {
        font-size: 20px;
    }

    .formOrder p {
        font-size: 22px;
    }

}