.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    border: 2px solid black;
    border-top: 5px solid #F8B62AD9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    z-index: 999;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}