/* lista de usuarios */
.usersAll {
    background: url('../resources/background-hamburger.png');
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divForUsers{
    width: 100%;
    padding-left: 5px;
}

/* texto administrador de productos */
.usersAll h3 {
    color: white;
    text-align: center;
    font-size: 18px;
}

.containerFormListUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerFormAddUser {
    height: 100%;
    width: 100%;
}

.containerUsersAdmin {
    padding-bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.usersContainer {
    text-align: center;
    display: grid;
    height: 120px;
    width: 90%;
    grid-template-rows: 20% 20% 20%;
    background: white;
    border-radius: 25px;
    padding: 5px;
    margin-top: 10px;
}

.usersContainer p {
    font-size: 16px;
}

/* <p> Agregar Producto </p> */
.uAddUserForm {
    margin-bottom: 5px;
    font-weight: bold;
}

.inputEmailUser,
.inputPasswordUser {
    border-style: none;
    background-color: #D9D9D9;
    border-radius: 25px;
    height: 40px;
    padding-left: 15px;
}

.SelectRolUser {
    height: 30px;
    padding-left: 10px;
    background-color: #F8B62AD9;
    color: rgb(65, 64, 64);
    border-radius: 15px;
    border-style: none;
    margin-top: 5px;
}

.sectionBtn {
    margin-top: 10px;
}

.btnContainerUsers {
    text-align: right;
    margin-right: 25px;
    margin-top: -20px;
}

@media all and (min-width: 768px) {

    .usersContainer {
        grid-template-columns: 50% 30% 20%;
        justify-content: center;
        border-radius: 25px;
        margin: 10px;
        height: auto;
        width: 95%;
    }

    .containerFormListUsers {
        width: 90%;
    }

    .usersAll h3 {
        font-size: 32px;
    }

    .containerFormAddUser {
        display: flex;
        justify-content: center;
    }

    .containerUsersAdmin {
        width: 90%;
        margin-bottom: 20px;
    }

    .usersContainer {
        grid-template-columns: 40% 30% 15%;
    }

    .usersContainer p {
        font-size: 18px;
    }

    .SelectRolUser {
        height: 40px;
    }
}

@media all and (min-width: 1024px) {

    .containerFormListUsers {
        align-items: flex-start;
        flex-direction: row;
    }

    .usersContainer p {
        font-size: 16px;
    }

    .inputEmailUser,
    .inputPasswordUser, 
    .SelectRolUser {
        height: 40px;
        font-size: 18px;
    }
}